# dependencies
node_modules/
.pnpm-store/

# build output
dist/
build/
*.tsbuildinfo

# env
.env
.env.*
!.env.example

# prisma
packages/database/prisma/migrations/dev.db*

# logs
*.log
logs/

# editor / os
.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json

# misc
coverage/
.cache/
.env.example
